{% import "bootstrap/wtf.html" as wtf %}
{% extends "layouts/default.html" %}

{% block title %}
Log In
{% endblock %}

{% block content %}
<h1>Log In</h1>

{% with errors = get_flashed_messages(category_filter=['login_error']) %}
{% if errors %}
<div class="alert-message block-message error">
    <a class="close" href="#">×</a>
    <ul>
        {%- for message in errors %}
        <li>{{ message }}</li>
        {% endfor -%}
    </ul>
</div>
{% endif %}
{% endwith %}

<div>
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}