# symlink this file to nginx’s configuration files
# directory /etc/nginx/conf.d/ and restart nginx:

server {
    listen <PORT>;
    server_name <HOST>;
    charset utf-8;
    client_max_body_size 75M;

    location / {
        try_files $uri @<PROJECT_NAME>;
    }

    location @<PROJECT_NAME> {
        include uwsgi_params;
        uwsgi_pass unix:<UWSGI_SOCKET_FILE_PATH>;
    }

    location /dist {
        root /<PROJECT_ROOT_PATH>/frontend;
    }
}