.idea
*~

__pycache__
*.pyc

env
venv
log
npm*.log
*.sock

nginx.conf
uwsgi.ini

backend/migrations

frontend/node_modules
frontend/dist

uwsgi.sock

backend/app/settings/local.py

*.rdb

uploads/*
!uploads/tmp/README
!uploads/README