<div *ngIf="event">

    <!-- Name -->
    <h1>{{ event.name }}</h1>

    <!-- Description -->
    <div class="description">
        {{ event.description }}
    </div>

    <!-- Date -->
    <div class="date">
        <div class="start-time">
            <span>Start Time:</span>
            <span class="value">{{ event.startTime | date: 'short' }}</span>
        </div>
        <div class="end-time">
            <span>End Time:</span>
            <span class="value">{{ event.endTime | date: 'short' }}</span>
        </div>
    </div>

    <!-- Items -->
    <items [event]="event"></items>

    <!-- Actions -->
    <div class="actions">
        <a [routerLink]="['/events', event.id, 'edit']">Edit</a>
        <a [routerLink]="['/events', event.id, 'delete']">Delete</a>
        <a [routerLink]="['/events', event.id, 'plugins']">Add Item</a>
    </div>

</div>
