<div *ngIf="event">
    <h1>{{ event.name }}</h1>
    <div class="description">
        {{ event.description }}
    </div>
    <div class="date">
        <div class="start-time">
            <span>Start Time:</span>
            <span class="value">{{ event.startTime | date: 'short' }}</span>
        </div>
        <div class="end-time">
            <span>End Time:</span>
            <span class="value">{{ event.endTime | date: 'short' }}</span>
        </div>
    </div>

    <div class="items">
        <ul *ngFor="let item of event.items" class="item row">
            <li class="item-id">Item Id: {{ item.id }}</li>
            <li class="item-plugin">Plugin: {{ item.plugin }}</li>
        </ul>
    </div>

    <a [routerLink]="['/events', event.id, 'edit']">
        Edit
    </a>

</div>
